/* Palette principale */
:root {
    --bordeaux: #800020;
    --blanc-casse: #FAF9F6;
    --dark-text: #3D3D3D;
    --shadow: rgba(0, 0, 0, 0.1);
}

/* Styles généraux */
body {
    font-family: "Georgia", serif;
    margin: 0;
    background-color: var(--bordeaux); 
    color: var(--dark-text);
    line-height: 1.6;
}


.about {
    padding: 50px 20px;
    background: linear-gradient(135deg, var(--bordeaux) 30%, var(--blanc-casse));
    text-align: center;
    color: var(--blanc-casse);
    border-top: 5px solid var(--bordeaux);
    border-bottom: 5px solid var(--bordeaux);
}

.about h1 {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px var(--shadow);
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.about-item {
    background: white;
    color: var(--dark-text);
    border-radius: 15px;
    box-shadow: 0 8px 12px var(--shadow);
    padding: 25px;
    text-align: left;
    max-width: 400px;
    border: 2px solid var(--bordeaux);
    transition: transform 0.3s, box-shadow 0.3s;
}

.about-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.about-item img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--bordeaux);
    margin-bottom: 20px;
    box-shadow: 0 6px 10px var(--shadow);
}

.about-item p {
    line-height: 1.8;
    font-size: 16px;
}
